/.vscode
*.sublime-project
*.sublime-workspace

/out

# Don't include headers from the pd sdk, provide your own
/_gen/*.h 
/_gen/pd_api/ 

/_gen/testgen/

**.pdx
**.bin
**.dylib
**.dylib.dSYM
**.dll
**.lib
**.elf
**.exe
**.pdb
